= image_tag @recipe.image.url(:medium), class: 'recipe_image'
%h1= @recipe.title
%p= @recipe.description

= link_to 'Edit', edit_recipe_path, class: 'btn btn-default'
= link_to 'Back', root_path, class: 'btn btn-default'
= link_to 'Delete', recipe_path, method: :delete, class: 'btn btn-danger pull-right', data: {confirm: 'You are about to delete the recipe'}